*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Trirong", serif;
}
.container{
  position: relative;
  width:500px;
  margin-top:30px;
  margin-bottom:30px;
  padding:15px 20px;
  border-radius:15px;
}
.input-fields{
  display: flex;
  flex-direction: column;
}
.input-fields input , 
.input-fields textarea{
  outline:none;
  border: none;
  background-color:transparent;
  padding:4px;
}
.input-fields input{
  font-size:25px;
  font-weight:700;
  letter-spacing:1.1px;
  color:#000;
  margin-bottom:8px;
  text-transform: capitalize;
}
.input-fields textarea{
  color:rgb(64, 63, 63);
  font-size:15px;
  font-weight:500;
  height:80px;
}
.input-fields input::placeholder{
      font-size:25px;
      font-weight:700;
      color:#000;
}
.button{
  position:absolute;
  right: 10px;
  bottom:-15px;
  z-index:999;
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:#fff;
  border:none;
}
.button:hover{
  background-color:rgb(247, 178, 60);
}
.btn-icon:hover{
  color:#fff;
}
.btn-icon{
  font-size:large;
  font-weight:600;
}
.note-container{
  display: flex;
  flex-direction: column;
  width:300px;
  padding:15px 20px;
  border-radius:15px;
  margin:15px 20px;
  background-color: #fff;
}
.delete-btn{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:#fff;
  border:none;
  align-self: flex-end;
}
.delete-btn:hover{
  background-color:rgb(247, 178, 60);
}
.delete-icon:hover{
  color:white;
}
.note-container h3{
  font-size:22px;
}

.main-container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin:10px 60px;
  
}
footer{
   width:100%;
   position:absolute;
   bottom: 0%;
}